<?xml version="1.0" encoding="utf-8"?>
<!-- CleanChrome: edenOS's browser as an app of its own. It opens straight into the browser. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity android:name=".MainActivity">
            <intent-filter tools:node="removeAll" />
        </activity>
        <activity-alias
            android:name=".CleanChrome"
            android:exported="true"
            android:label="@string/app_name"
            android:targetActivity=".browser.BrowserActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
